DB_HOST=localhost
DB_NAME=traceliner_db
DB_USER=traceliner_user
DB_PASSWORD=
DB_PORT=5432 
JWT_SECRET=
VITE_ACTIVITIES_DIRECTORY=api/v3/athlete/activities
VITE_ACTIVITY_DIRECTORY=api/v3/activities
VITE_DEAUTHORIZE_DIRECTORY=oauth/deauthorize
VITE_JWT_TOKEN=
VITE_REDIRECT_URI=http://localhost:5173
VITE_SALESFORCE_CLIENT_ID=
VITE_SALESFORCE_OBJECT_SUBDIRECTORY=services/data/v{version}.0/sobjects/
VITE_SALESFORCE_PASSWORD=
VITE_SALESFORCE_SECRET_KEY=
VITE_SALESFORCE_SECURITY_TOKEN=
VITE_SALESFORCE_URL=https://login.salesforce.com/services/oauth2/token
VITE_SALESFORCE_USERNAME=
VITE_SALESFORCE_VERSION=62
VITE_STRAVA_AUTORIZE_DIRECTORY=oauth/authorize
VITE_STRAVA_CLIENT_ID=49591
VITE_STRAVA_CLIENT_SECRET=
VITE_STRAVA_HOST=https://www.strava.com/
VITE_STRAVA_USER_ID=
VITE_STREAMS_DIRECTORY=api/v3/activities/{id}/streams
VITE_TOKEN_DIRECTORY=oauth/token
VITE_WEBHOOK_TOKEN=
TOKEN_ENCRYPTION_KEY=