.input-margin{
    margin: 5px
}
.wrapper-login{
    display: flex;
    flex-direction: column;
}
.wrapper-username{
    display: flex;
}
.wrapper-element-input{
    display: flex;
    align-items: center;
}
.position-info{
    position: absolute;
    right: -5px
}
.position-info-message{
    position: absolute;
    right: -7px
}
.position-info:hover{
    cursor: pointer;
}
.p-color-tertiary{
    color: var(--palette-tertiary)
}
.input-login-password{
    border: unset;
    font-family: var(--font);
    outline: none;
    transition: all 0.3s ease;
    min-width: 100px;
    width: 30vw;
    max-width: 270px;
    min-height: 20px;
    height: 5vh;
    max-height: 35px;
    background: none;
    padding: 0
}
.input-login{
    font-family: var(--font);
    padding: 5px 5px;
    border: 1px solid var(--palette-primary);
    outline: none;
    transition: all 0.3s ease;
    min-width: 100px;
    width: 30vw;
    max-width: 300px;
    min-height: 20px;
    height: 5vh;
    max-height: 35px;
    background: none;
}
.input-error-validity{
    border-color: var(--palette-tertiary) !important;
}
.padding-right{
    padding: 0 30px 0 0;
}
.position-relative{
    position: relative
}
.position-hide{
    position: absolute;
    right: 5px
}
.button-create-user{
    background-color: var(--palette-primary);
    color: var(--palette-background);
    padding: 10px 20px;
    border-radius: 10px;
    margin: 15px
}
.disabled-button{
    filter: brightness(0.6);
}
.active-button:hover{
    cursor: pointer;
    filter: brightness(0.8);
}
.active-button:active{
    filter: brightness(0.6);
}
.border-popover{
    position: relative;
    border: 1px solid var(--palette-tertiary);
    border-radius: 5px;
    padding: 5px;
}
.border-popover::before{
    content: '';
    position: absolute;
    inset: 0;
    border: 2px solid transparent;
    border-radius: 8px;
    z-index: 0;
    pointer-events: none;
}
.border-popover-triangle{
  position: absolute;
  left: -10px;
  top: 50%;
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid var(--palette-tertiary);
  z-index: 1;
}