.wrapper-statistics{
    display: flex;
    flex-direction: column;
}
.wrapper-numbers{
    display: flex;
    flex-direction: row;
}
.wrapper-refresh{
    display: flex;
    align-items: center;
    height: 110px;
}
.wrapper-refresh:hover{
    cursor: pointer;
}
.filter-wrapper{
    display: flex;
    flex-direction: column;
}
.filter-wrapper-constrains{
    display: flex;
    flex-direction: row;
}
.input-constrain{
    font-family: 'SourceCodePro';
    font-size: 16px;
    padding: 5px 5px;
    border: 1px solid var(--palette-primary);
    outline: none;
    transition: all 0.3s ease;
    width: 136px;
    background: none;
}
.minor-input{
    margin: 5px 2.5px 5px 0px;
}
.major-input{
    margin: 5px 0px 5px 2.5px;
}
.margin-dropdown{
    margin: 5px 0px 0px 0px;
}
.align-left{
    text-align: left;
}
.graph-wrapper{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}
.bars-wrapper{
    display: flex;
    height: 300px;
    align-items: flex-end;
}
.labels-wrapper {
    display: flex;
}
.sub-bar-wrapper{
    display: flex;
    flex-direction: column;
}
.light-bar:hover{
    filter: brightness(0.6);
}
.primary-fill{
    fill: var(--palette-primary)
}
.secondary-fill{
    fill: var(--palette-secondary)
}
.margin-top-29{
    margin-top: 29px;
}