:root{
  /* this are fallback color, they are defined into the branding palette file (./config/brandingPalette.js)*/
  /* --palette-ancestral: #9b5de5;
  --palette-primary: red;
  --palette-secondary: #fee440;
  --palette-tertiary: #00bbf9;
  --palette-quaternary: #00f5d4;
  --palette-background: #282c34;
  --palette-backgroundcomplementary: #343028;
  --palette-white: #edf6f9;
  --palette-black: #000000; */
  --dot-typing-color: var(--palette-primary);
  --font: 'OffBit'
}
@font-face {
  font-family: 'SourceCodePro';
  src: local('SourceCodePro'),
   url('./assets/fonts/SourceCodePro/SourceCodePro-VariableFont_wght.ttf') format('truetype');
  font-weight: bold;
}
@font-face {
  font-family: 'OffBit';
  src: local('OffBit'),
   url('./assets/fonts/OffBit/OffBit-Bold.ttf') format('truetype');
  font-weight: bold;
}
.no-translate{
  translate: no
}
.main-mode-color{
  fill:var(--palette-primary);
}
.secondary-mode-color{
  stroke:var(--palette-background);
}
.secondary-mode-color-fill{
  fill:var(--palette-background);
}
.wrapper-list-selector{
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 90vh;
  align-items: center;
}
.row-selector{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.row-selector-column{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.row-selector-width{
  width: 50vw;
}
.opacity-deactivated{
  filter: brightness(0.3)
}
.mode-cursor-deacitaved:hover{
  cursor: default !important

}
.mode-cursor-deacitaved:active{
  cursor: default !important;
  filter: unset !important
}
.position-mode{
  width: 91px;
  height: 117px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.coming-soon-positioning{
  position: absolute;
  transform: rotate(-45deg) translate(-50px, 50px);
  color: var(--palette-secondary) !important;
  z-index: 10;
}
.padding-mode-selector{
  padding: 15px 25px;
}
.wrapper-mode-selector{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.wrapper-mode-selector:hover{
  cursor: pointer;
  filter: brightness(0.8);
}
.wrapper-mode-selector:active{
  filter: brightness(0.6);
}
.scale-mode{
  transform: scale(2.6);
}
body{
  overscroll-behavior: none;
}
p {
  margin-block-start: 0px; 
  margin-block-end: 0px;
}
.wrapper-icon-sliders{
  height: 45px;
}
.display-flex{
  display: flex;
}
.code-inactive {
  background: var(--palette-primary); 
  color: var(--palette-background);
}
.App {
  background-color: var(--palette-background);
  font-size: calc(4vmin);
  text-align: center;
  font-family: var(--font);
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.App-body {
  padding: 2vh;
  min-height: 96vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--palette-white);
}
.app-body-background-mobile {
  background-image: url('./assets/images/background1.jpg');
  background-size: cover;
}
.app-body-background-desktop {
  background-image: url('./assets/images/background1.jpg');
  background-size: cover;
}
.App-link {
  color: var(--palette-quaternary);
}
.creator{
  font-size: calc(2vmin);
  color: var(--palette-primary)
}
.creator-homepage{
  position: absolute;
  bottom: 1vh;
}
.creator-justify-center{
  display: flex;
  justify-content: center;
}
.image-creator{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 96vh;
}
.image-creator-wrapper-1{
  height: auto
}
.wrapper-of-warpper{
  display: flex;
  min-height: 96vh;
  justify-content: space-between;
  flex-direction: column;
}
.image-creator-wrapper-2{
  height: 10%;
}
.back-button{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.back-button:hover{
  cursor: pointer;
}
.back-image{
  fill: var(--palette-primary);
}
.p-back{
  color: var(--palette-primary);
  justify-content: left;
  font-size: calc(4vw);
}
.p-back-xl{
  color: var(--palette-primary);
  justify-content: left;
  font-size: calc(6vw);
}
.p-back-xs{
  color: var(--palette-primary);
  justify-content: left;
  font-size: calc(3vw);
}
.p-uppercase{
  text-transform: uppercase;
}
.header-wrapper{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.width-header-wrapper{
  width: 80vw;
}
.buttons-wrapper{
  width: 100%;
  display: flex;
  justify-content: center;
}
.back-arrow-container{
  display: flex;
  width: 25px
}
.wrapper-image{
  text-align: center;
}
.slider-width{
  position: relative;
  left: 50%;
  translate: -50%;
  width: 260px;
}
.margin-or{
  margin: 20px;
}
.wrapper-title-logo{
  min-width: 100%;
}
.margin-title-logo{
  margin: 40px 30px;
}
.width-title-logo{
  width:67%
}
.margin-x{
  margin: 20px;
}
.wrapper-button-login{
  min-width: 100%;
  padding: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.homepage-button{
  width: 55%;
}
.homepage-button:hover{
  cursor: pointer;
  filter: brightness(0.8);
}
.homepage-button:active{
  cursor: pointer;
  filter: brightness(0.6);
}
.button-login {
  padding: 1vw;
  background-color: var(--palette-primary);
  margin: 2% 2%;
  width: 55%;
  max-width: 400px;
}
.wrapper-buttons-login{
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center
}
.button-login:active{
  filter: brightness(0.6);
}
.button-login:hover {
  cursor: pointer;
  filter: brightness(0.8);
}
.justify-center-column{
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.quadratic-wrapper{
  width: 100%;
}
.language-selector-alone{
  display: flex;
  flex-direction: row;
  align-items: center;
  position: absolute;
  top: 3%;
  right: 6%;
}
.arrow-down-language-selector{
  fill: var(--palette-primary);
  transform: scale(0.5)
}
.translate-main-wapper-desktop{
  transform: translateY(-3vh);
}
.translate-main-wapper-mobile{
  transform: translateY(-12vh);
}
.main-wrapper{
  width: 100%;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.p-login{
  padding: 1vh 3vw 1vh 3vw;
  color: var(--palette-background);
}
.p-or{
  color: var(--palette-primary);
}
.p-login-or-size{
  font-family: var(--font);
  font-size: calc(4vmin);
}
.button-border {
  border-radius: 15px;
}
.button-activity {
  text-align: left;
  width: 90vmin;
  min-height: 6.5vh;
  margin: 1.5vw;
  background-color: var(--palette-secondary);
}
.button-activity:active{
  filter: brightness(0.6);
}
.button-activity:hover{
  cursor: pointer;
  filter: brightness(0.8);
}
.title-activity {
  padding: 1vh 3vw 0.25vh 3vw;
  font-family: var(--font);
  font-size: calc(3.5vmin);
  font-weight: bold;
  color: var(--palette-background);
}
.subtitle-activity {
  padding: 0vh 3vw 1vh 3vw;
  font-family: var(--font);
  font-size: calc(2.5vmin);
  color: var(--palette-background);
}
.wrapper-buttons{
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

}
.wrapper-sub-buttons{
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.wrapper-images{
  width: 80%;
  flex-wrap: wrap;
  margin: 0 10%;
}
.wrapper-buttons-left{
  font-size: calc(3vmin);
  height: 30px;
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  text-align: left;
}
.back{
  color: var(--palette-background);
  background: var(--palette-tertiary);
}
.back:hover{
  cursor: pointer;
  color: var(--palette-background);
  background: var(--palette-primary);
}
.colors-background{
  position: relative;
  background-color: var(--palette-white);
  border-radius: 25px;
  width: 280px;
  margin: 10px 0px;
  left: 50%;
  translate: -50%;
}
.image-background {
  position: relative;
  background-color: var(--palette-white);
  border-radius: 5px;
  width: 80%;
  margin: 10px 0px;
  left: 50%;
  translate: -50%;
}
.camouflage{
  color: var(--palette-background);
}
.width-wrapper-main{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80vw;
  margin: 1vh 0vh 5vh
}
.wrapper-main{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.canvas-image{
  width: 80vw;
  position: absolute;
  top: 0;
  left: 0;
}
.canvas-container-general{
  background-color: var(--palette-backgroundcomplementary);
  position: relative;
  min-width: 80vw;
}
.canvas-container-square {
  min-height: 80vw;
}
.canvas-container-rect {
  aspect-ratio: 9/16;
}
.canvas-container canvas {
  display: block;
  height: auto;
}
.canvas-position{
  position: absolute;
  top: 0;
  left: 0;
}
.canvas-filter{
  width: 80vw;
}
.canvas-sketch{
  width: 57.5%;
  height: 57.5% !important;
  top: 21.25%;
  left: 21.25%;
}
.canvas-sketch-rect{
  width: 85%;
  top: 24%;
  left: 7.5%;
}
.canvas-sketch-mode-3{
  width: 100%;
  height: 100% !important;
  bottom: 0 !important;
  top: unset !important;
  left: 0;
}
.canvas-sketch-mode-3-rect{
  width: 100%;
  height: 100% !important;
  bottom: 0 !important;
  top: unset !important;
  left: 0;
}
#canvasImage {
  z-index: 1;
}
#canvasFilter {
  z-index: 2;
}
#canvasSketch {
  z-index: 3;
}
#canvasText {
  z-index: 4;
}
#canvasLogo {
  z-index: 4;
}
#loader {
  z-index: 5;
}
#dropDown{
  position: relative;
}
#dropdownValues{
  z-index: 7;
}
.border-dropdown{
  border: 1px solid;
}
.background-loading{
  background-color: var(--palette-background);
  position: absolute;
  aspect-ratio: 9/16;
  width: 325px;
}
.translate-loading{
  transform: translate(165px, 260px);
}
.text-overlay {
  position: absolute;
  font-family: 'Helvetica';
  text-align: left;
  font-size: calc(4vmin);
  font-weight: bold;
  color: white;
}
.text-title{
  width: 86%;
  top: 20%;
  left: 7%;
  display: flex;
  flex-direction: row;
}
.text-title-props:first-child{
  bottom:0%
}
.text-title-props:last-child{
  top:0%
}
.text-name-props{
  font-weight: 900;
}
.text-date-props{
  font-size: calc(3vmin);
  font-weight: 100;
}
.text-coordinates-props{
  font-size: calc(4vmin);
  width: 100%;
  top:88%;
  left:50%;
  text-align: center;
  transform: translate(-50%,0)
}
.text-title-props-rect:first-child{
  bottom:0%;
}
.text-title-props-rect:last-child{
  top:0%;
}
.text-coordinates-props-rect{
  top:84%;
}
.padding-horizontal{
  padding-bottom: 1rem;
  padding-top: 3rem;
}
.colors{
  margin: 4px;
}
.colors:hover{
  cursor: pointer;
}
.proportion:hover{
  cursor: pointer;
}
.feature:active{
  filter: brightness(0.6);
}
.feature:hover{
  cursor: pointer;
  filter: brightness(0.8);
}
.image-props{
  margin: 5px;
  border-radius: 5px;
  width: 50px;
  height: 50px;
}
.image-props:hover{
  cursor: pointer;
}
.selected-image{
  position: absolute;
  margin: 5px;
  max-width: 50px;
  max-height: 50px;
}
.wrapper-image-selected{
  max-width: 60px;
  max-height: 60px;
}
.image-container {
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
}
.image-square {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 5px;
  background-color: var(--palette-secondary); 
}
.image-square:hover{
  cursor: pointer
}
.image-square p {
  font-size: calc(4vmin);
  color: var(--palette-background);
}
.dot-typing {
    position: relative;
    left: -9999px;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    animation: dot-typing 1.5s infinite linear;
    background-color: var(--dot-typing-color);
    color: var(--dot-typing-color);
    box-shadow: 9984px 0 0 0 var(--dot-typing-color), 9999px 0 0 0 var(--dot-typing-color), 10014px 0 0 0 var(--dot-typing-color);
}
.background-opacity{
  opacity: 0 !important
}
.background-trasparency{
  background-color: unset !important;
}
@keyframes dot-typing {
    0% {
      box-shadow: 9984px 0 0 0 var(--dot-typing-color), 9999px 0 0 0 var(--dot-typing-color), 10014px 0 0 0 var(--dot-typing-color);
    }
    16.667% {
      box-shadow: 9984px -10px 0 0 var(--dot-typing-color), 9999px 0 0 0 var(--dot-typing-color), 10014px 0 0 0 var(--dot-typing-color);
    }
    33.333% {
      box-shadow: 9984px 0 0 0 var(--dot-typing-color), 9999px -10px 0 0 var(--dot-typing-color), 10014px 0 0 0 var(--dot-typing-color);
    }
    50% {
      box-shadow: 9984px 0 0 0 var(--dot-typing-color), 9999px 0 0 0 var(--dot-typing-color), 10014px -10px 0 0 var(--dot-typing-color);
    }
    66.667% {
      box-shadow: 9984px 0 0 0 var(--dot-typing-color), 9999px 0 0 0 var(--dot-typing-color), 10014px 0 0 0 var(--dot-typing-color);
    }
    83.333% {
      box-shadow: 9984px 0 0 0 var(--dot-typing-color), 9999px 0 0 0 var(--dot-typing-color), 10014px 0 0 0 var(--dot-typing-color);
    }
    100% {
      box-shadow: 9984px 0 0 0 var(--dot-typing-color), 9999px 0 0 0 var(--dot-typing-color), 10014px 0 0 0 var(--dot-typing-color);
    }
}
.dropdown-appear{
  animation-name: top-appear;
  animation-duration: 0.10s;
  animation-timing-function: ease-in-out;
}
@keyframes top-appear {
  0% {
    height: 0%;
  }
  20% {
    height: 20%;
  }
  40% {
    height: 40%;
  }
  60% {
    height: 60%;
  }
  80% {
    height: 80%;
  }
  100% {
    height: 100%;
  }
}
.logo-club-wrapper{
  position: absolute;
  bottom: 0;
  right: 3%;
  z-index: 4;
}
.logo-club-wrapper-rect{
  position: absolute;
  bottom: 0;
  right: 3%;
  z-index: 4;
}
.logo-club-wrapper-mode-3{
  position: absolute;
  top: 6%;
  left: 3%;
}
.logo-club-wrapper-mode-3-rect{
  position: absolute;
  top: 16%;
  left: 3%;
}
.logo-club-wrapper-mode-3-vertical{
  position: absolute;
  bottom: 1%;
  left: 3%;
}
.logo-club-wrapper-mode-3-vertical-rect{
  position: absolute;
  bottom: 1%;
  left: 3%;
}
.logo-club-wrapper-mode-5-down{
  position: absolute;
  top: 4%;
  right: 3%;
  z-index: 4;
}
.logo-club-wrapper-mode-5-down-rect{
  position: absolute;
  top: 7%;
  right: 3%;
  z-index: 4;
}
.logo-club-svg{
  width: 15vw;
  height: 12vw
}
.indexed-height{
  z-index: 100;
}
.beauty-border{
  border-radius: 5px;
}
.wrapper-data-2-lines-rect{
  position: absolute;
  display: flex;
  flex-direction: column;
  min-width: 100%;
  font-size: calc(4vmin);
  font-weight: 900;
  font-family: 'Helvetica';
  top: 74%
}
.wrapper-data-2-lines{
  position: absolute;
  display: flex;
  flex-direction: column;
  min-width: 100%;
  font-size: calc(3.5vmin);
  font-weight: 900;
  font-family: 'Helvetica';
  top: 80%
}
.wrapper-data-line{
  display: flex;
  justify-content: center;
  width: 100%;
}
.wrapper-data-element-mode-6{
  margin: 1vw 1vw;
  width: 35%;
}
.wrapper-data-element{
  margin: 0.5vw 4.5vw;
}
.wrapper-data-element-rect{
  margin: 1vw 5vw;
}
.data-p-little{
  font-weight: 100;
  font-size: calc(2vmin);
}
.display-center{
  display: flex;
}
.element-mode-3{
 padding: 2%;
 margin: 3%;
}
.text-overlay-mode-3-dimention{
  font-size: calc(4vmin);
}
.text-overlay-mode-3-dimention-rect{
  font-size: calc(8vmin);
}
.text-overlay-mode-3{
  border-right: calc(2vmin) solid;
  position: absolute;
  font-family: 'Helvetica';
  text-align: right;
  color: transparent;
  font-weight: bold;
}
.mode-3-text{
  right: 0;
  top: 5%;
  width: 45%;
}
.mode-3-text-rect{
  right: 0;
  top: 15%;
  width: 50%;
}
.element-mode-3-vertical{
  padding: 2%;
  margin: 3%;
}
.wrapper-element-mode-5{
  position: absolute;
  top: 1vw;
  left: 1vw;
  display: flex;
  flex-direction: column;
  width: 68vw;
  font-weight: 100;
  font-size: calc(3vw);
  font-style: italic;
}
.text-mode-5{
 text-transform: lowercase;
}
.data-mode-5{
  text-transform: uppercase;
}
.element-mode-5 {
  display: flex;
  justify-content: space-between;
}
.width-left-mode-5{
  width: 70vw;
  left: 5vw;
}
.position-mode-5-up-rect{
  top: 29vw;
}
.position-mode-5-down-rect{
  top: 115vw;
}
.position-mode-5-up{
  top: 14vw;
}
.position-mode-5-down{
  top: 64vw;
}
.text-title-props-mode-5{
  left: 1.5vw;
  text-transform: uppercase;
  width: 69vw !important;
}
.text-title-props-mode-5-up-rect{
  bottom: -20vw;
}
.text-title-props-mode-5-down-rect{
  bottom: -106vw;
}
.text-title-props-mode-5-up{
  bottom: -5.5vw;
}
.text-title-props-mode-5-down{
  bottom: -55vw;
}
.text-overlay-mode-5{
  border-top: calc(0.3vmin) solid;
  position: absolute;
  font-family: 'Helvetica';
  text-align: right;
  font-weight: bold;
}
.canvas-sketch-mode-5{
  width: 57.5%;
  height: 57.5% !important;
  top: 38%;
  left: 21.25%;
}
.canvas-sketch-mode-5-down{
  width: 57.5%;
  height: 57.5% !important;
  top: 7%;
  left: 21.25%;
}
.canvas-sketch-mode-5-rect{
  width: 82%;
  top: 35%;
  left: 9%;
}
.canvas-sketch-mode-5-down-rect{
  width: 82%;
  top: 20%;
  left: 9%;
}
.text-overlay-mode-3-vertical{
  border-left: calc(2vmin) solid;
  position: absolute;
  font-family: 'Helvetica';
  text-align: left;
  font-size: calc(8vmin);
  color: transparent;
  font-weight: bold;
}
.mode-3-vertical-text{
  left: 0;
  top: 5%;
  width: 45%;
}
.mode-3-vertical-text-rect{
  left: 0;
  top: 15%;
  width: 50%;
}
.round-corner{
  border-radius: 5px;
}
.width-mode{
  width: 80vw;
}
.width-mode-sub{
  width:75vw;
  margin: 1vw 2.5vw;
}
.arrow-down{
  padding: 8px;
  background-color: var(--palette-primary);
  width: 45px;
  height: 45px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  transform: scale(0.8);
  border-radius: 5px;
}
.arrow-down:hover{
  cursor: pointer;
}
.p-select{
  font-size: calc(5vw);
  color: var(--palette-primary);
  font-family: var(--font);
}
.blend-text{
  color: var(--palette-primary)
}
.blend-mode:hover{
  cursor: pointer;
}
.width-general{
  width: 100%;
}
.homepage-logo-width{
  width: 45%;
  max-width: 400px;
}
.dropdown-selected-value{
  display: flex;
  align-items: center;
  padding: 0 5px;
}
.dropdown-selected-value:hover{
  cursor: pointer;
}
.dropdown-values{
  background-color: var(--palette-secondary);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  position: absolute
}
.dropdown-value{
  color: var(--palette-background)
}
.dropdown-unselected-value{
  display: flex;
  width: 100%;
}
.dropdown-unselected-value:hover{
  cursor: pointer;
  background-color: var(--palette-primary);
}
.padding-5{
  padding: 0 5px;
}
.display-flex-dropdown-value{
  display: flex;
  align-items: center;
}
.modal-dimention-positioning{
  height: fit-content;
  background-color: var(--palette-secondary);
  border-radius: 5px;
  max-width: 500px;
  width: 60%;
  display: flex;
  justify-content: center;
  position: relative;
}
.modal-close-wrapper{
  position: absolute;
  top: 5px;
  right: 5px;
  width: 15px;
  height: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal-close-icon{
  width: 10px;
  height: 10px;
}
.modal-close-wrapper:hover{
  cursor: pointer;
}
.modal-close-wrapper:active{
  filter: brightness(0.6);
}
.modal-text{
  margin: 7% 5%;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal-p{
  color: var(--palette-background)
}
.modal-buttons{
 display: flex;
 justify-content: center;
}
.modal-buttons-single-wrapper{
  padding: 2px 7.5px;
}
.modal-buttons-single{
  background-color: var(--palette-background);
  color: var(--palette-secondary);
  margin: 5px 5px;
}
.modal-buttons-p{
  font-size: calc(3vw);
}
.modal-buttons-single:hover{
  cursor: pointer;
  filter: brightness(0.8);
}
.modal-buttons-ahead{
  background-color: var(--palette-primary);
  color: var(--palette-background);
}
.modal-overlay{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
}
.width-logo-extended{
  width: 80vw;
}
@media print, screen and (min-width: 450px) {
  .creator{
    font-size: calc(1.6vmin);
  }
  .p-back{
    font-size: calc(3.25vw);
  }
  .p-back-xl{
    color: var(--palette-primary);
    justify-content: left;
    font-size: calc(4.5vw);
  }
  .p-back-xs{
    color: var(--palette-primary);
    justify-content: left;
    font-size: calc(2.35vw);
  }
  .p-select{
    font-size: calc(3.75vw);
  }
  .image-square p{
    font-size: calc(4vw);
  }
  .button-activity {
    width: 67.6vmin;
    min-height: 4.6875vmin;
    margin: 1.125vw;
  }
  .button-login {
    padding: 0.75vw;
  }
  .p-login{
    padding: 0.75vh 2.25vw 0.75vh 2.25vw;
  }
  .p-login-or-size{
    font-size: calc(3vmin);
  }
  .width-wrapper-main{
    display: flex;
    flex-direction: column;
    width: 80vw;
  }
  .beauty-border{
    width: 60vw;
  }

  .width-header-wrapper{
    width: 60vw;
  }
  .canvas-container-square{
    min-height: 60vw;
  }
  .blend-text{
    font-size: calc(3vw);
  }
  .title-activity {
    padding: 0.75vh 2.25vw 0.1875vh 2.25vw;
    font-size: calc(2.625vmin);
  }
  .subtitle-activity {
    padding: 0vh 2.25vw 0.75vh 2.25vw;
    font-size: calc(1.875vmin);
  }
  .text-overlay{
    font-size: calc(3vw);
  }
  .text-date-props{
    font-size: calc(2.25vw);
  }
  .wrapper-data-2-lines-rect{
    font-size: calc(3vw);
  }
  .wrapper-data-2-lines{
    font-size: calc(2.625vw);
  }
  .canvas-container-general{
    min-width: 60vw;
  }
  .logo-club-wrapper-scale{
    transform: scale(0.75);
  }
  .logo-club-wrapper{
    bottom: -1vw;
    right: 0.5vw;
  }
  .logo-club-wrapper-rect{
    bottom: 0vw;
    right: 1.5vw;
  }
  .logo-club-wrapper-mode-3{
    top: 4%;
    left: 1%;
  }
  .logo-club-wrapper-mode-3-rect{
    top: 16%;
    left: 0%;
  }
  .logo-club-wrapper-mode-3-vertical{
    bottom: -1%;
    left: 1%;
  }
  .logo-club-wrapper-mode-3-vertical-rect{
    bottom: -1%;
    left: 1%;
  }
  .logo-club-wrapper-mode-5-down{
    top: 2vw;
    right: 1.5vw;
  }
  .logo-club-wrapper-mode-5-down-rect{
    top: 5vw;
    right: 1.5vw;
  }
  .wrapper-data-element{
    margin: 0.5vw 3.375vw;
  }
  .wrapper-data-element-rect{
    margin: 0.75vw 3.75vw;
  }
  .wrapper-data-element-mode-6{
    margin: 0.75vw 0.75vw;
  }
  .data-p-little{
    font-size: calc(1.5vw);
  }
  .text-overlay-mode-3{
    border-right: calc(1.5vw) solid;
  }
  .text-overlay-mode-3-vertical{
    border-left: calc(1.5vw) solid;
    font-size: calc(6vw);
  }
  .text-overlay-mode-3-dimention{
    font-size: calc(3vw);
  }
  .text-overlay-mode-3-dimention-rect{
    font-size: calc(6vw);
  }
  .wrapper-element-mode-5{
    top: 0.75vw;
    left: 0.75vw;
    width: 51vw;
    font-size: calc(2.25vw);
  }
  .width-left-mode-5{
    width: 52.5vw;
    left: 3.75vw;
  }
  .position-mode-5-up-rect{
    top: 21.75vw;
  }
  .position-mode-5-down-rect{
    top: 86.25vw;
  }
  .position-mode-5-up{
    top: 10.5vw;
  }
  .position-mode-5-down{
    top: 48vw;
  }
  .text-title-props-mode-5{
    left: 1.125vw;
    width: 51.75vw !important;
  }
  .text-title-props-mode-5-up-rect{
    bottom: -15vw;
  }
  .text-title-props-mode-5-down-rect{
    bottom: -79.5vw;
  }
  .text-title-props-mode-5-up{
    bottom: -4.125vw;
  }
  .text-title-props-mode-5-down{
    bottom: -41.25vw;
  }
  .text-overlay-mode-5{
    border-top: calc(0.225vmin) solid;
  }
  .language-selector-alone{
    right: 5%;
  }
  .arrow-down-language-selector{
    transform: scale(0.55)
  }
  .modal-dimention-positioning{
    width: 50%;
    min-height: 7%;
  }
  .modal-close-wrapper{
    top: 5px;
    right: 5px;
    width: 20px;
    height: 20px;
  }
  .modal-close-icon{
    width: 15px;
    height: 15px;
  }
  .modal-text{
    margin: 7% 5%;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .modal-buttons-p{
    font-size: calc(2.15vw);
  }
}
@media print, screen and (min-width: 600px) {
  .homepage-button{
    width: 310px;
  }
  .width-title-logo{
    width: 390px;
  }
  .creator{
    font-size: calc(1vmin);
  }
  .p-back{
    font-size: calc(2vw);
  }
  .p-back-xl{
    color: var(--palette-primary);
    justify-content: left;
    font-size: calc(3vw);
  }
  .p-back-xs{
    color: var(--palette-primary);
    justify-content: left;
    font-size: calc(1.5vw);
  }
  .p-select{
    font-size: calc(2.5vw);
  }
  .image-square p{
    font-size: calc(4vw);
  }
  .button-activity {
    width: 45vmin;
    min-height: 3.25vmin;
    margin: 0.75vw;
  }
  .button-login {
    padding: 0.5vw;
  }
  .p-login{
    padding: 0.5vh 1.5vw 0.5vh 1.5vw;
  }
  .p-login-or-size{
    font-size: (2vmin);
  }
  .width-wrapper-main{
    display: flex;
    flex-direction: column;
    width: 80vw;
  }
  .beauty-border{
    width: 40vw;
  }
  .width-header-wrapper{
    width: 40vw;
  }
  .canvas-container-square{
    min-height: 40vw;
  }
  .blend-text{
    font-size: calc(2vw);
  }
  .title-activity {
    padding: 0.5vh 1.5vw 0.125vh 1.5vw;
    font-size: calc(1.75vmin);
  }
  .subtitle-activity {
    padding: 0vh 1.5vw 0.5vh 1.5vw;
    font-size: calc(1.25vmin);
  }
  .text-overlay{
    font-size: calc(2vw);
  }
  .text-date-props{
    font-size: calc(1.5vw);
  }
  .wrapper-data-2-lines-rect{
    font-size: calc(2vw);
  }
  .wrapper-data-2-lines{
    font-size: calc(1.75vw);
  }
  .canvas-container-general{
    min-width: 40vw;
  }
  .logo-club-wrapper-scale{
    transform: scale(0.6);
  }
  .logo-club-wrapper{
    bottom: -2vw;
    right: -1vw;
    transform: scale(0.57) !important;
  }
  .logo-club-wrapper-rect{
    bottom: -3vw;
    right: -2vw;
    transform: scale(0.5) !important;
  }
  .logo-club-wrapper-mode-3{
    top: 2%;
    left: -2%;
  }
  .logo-club-wrapper-mode-3-rect{
    top: 13%;
    left: -5%;
  }
  .logo-club-wrapper-mode-3-vertical{
    bottom: -4%;
    left: -2%;
  }
  .logo-club-wrapper-mode-3-vertical-rect{
    position: absolute;
    bottom: -4%;
    left: -2%;
  }
  .logo-club-wrapper-mode-5-down{
    top: -0.5vw;
    right: -1.5vw;
    transform: scale(0.57);
  }
  .logo-club-wrapper-mode-5-down-rect{
    top: 0vw;
    right: -2vw;
    transform: scale(0.5);
  }
  .wrapper-data-element{
    margin: 0.25vw 2.25vw;
  }
  .wrapper-data-element-rect{
    margin: 0.5vw 2.5vw;
  }
  .wrapper-data-element-mode-6{
    margin: 0.5vw 0.5vw;
  }
  .data-p-little{
    font-size: calc(1vw);
  }
  .text-overlay-mode-3{
    border-right: calc(1vw) solid;
  }
  .text-overlay-mode-3-vertical{
    border-left: calc(1vw) solid;
    font-size: calc(4vw);
  }
  .text-overlay-mode-3-dimention{
    font-size: calc(2vw);
  }
  .text-overlay-mode-3-dimention-rect{
    font-size: calc(4vw);
  }
  .wrapper-element-mode-5{
    top: 0.5vw;
    left: 0.5vw;
    width: 34vw;
    font-size: calc(1.5vw);
  }
  .width-left-mode-5{
    width: 35vw;
    left: 2.5vw;
  }
  .position-mode-5-up-rect{
    top: 14.5vw;
  }
  .position-mode-5-down-rect{
    top: 57.5vw;
  }
  .position-mode-5-up{
    top: 7vw;
  }
  .position-mode-5-down{
    top: 32vw;
  }
  .text-title-props-mode-5{
    left: 0.75vw;
    width: 64.5vw !important;
  }
  .text-title-props-mode-5-up-rect{
    bottom: -10vw;
  }
  .text-title-props-mode-5-down-rect{
    bottom: -53vw;
  }
  .text-title-props-mode-5-up{
    bottom: -2.75vw;
  }
  .text-title-props-mode-5-down{
    bottom: -27.5vw;
  }
  .text-overlay-mode-5{
    border-top: calc(0.15vmin) solid;
  }
  .language-selector-alone{
    right: 4%;
  }
  .modal-buttons-single{
    margin: 5px 5px;
    padding: 5px 10px;
  }
  .modal-buttons-p{
    font-size: calc(1.5vw);
  }
  .modal-dimention-positioning{
    width: 30%;
  }
}
@media print, screen and (min-width: 800px) {
  .creator{
    font-size: 15px;
  }
  .image-creator-wrapper-2{
    display: flex;
    justify-content: center;
  }
  .creator-800{
    position: absolute;
    bottom: 1vh;
  }
  .p-back{
    font-size: 24px;
  }
  .p-back-xl{
    color: var(--palette-primary);
    justify-content: left;
    font-size: 36px;
  }
  .p-back-xs{
    color: var(--palette-primary);
    justify-content: left;
    font-size: 18px;
  }
  .p-select{
    font-size: 40px;
  }
  .image-square p{
    font-size: 32px;
  }
  .title-activity {
    padding: 8px 24px 2px 24px;
    font-size: 16px;
  }
  .subtitle-activity {
    padding: 0px 24px 8px 24px;
    font-size: 12px;
  }
  .button-activity {
    text-align: left;
    width: 500px;
    min-height: 52px;
    margin: 12px;
  }
  .button-login {
    padding: 8px;
  }
  .p-login{
    padding: 8px 32px 8px 32px;
  }
  .p-login-or-size{
    font-size: 32px;
  }
  .beauty-border{
    width: 320px;
  }
  .width-header-wrapper{
    width: 740px;
  }
  .canvas-container-square{
    min-height: 320px;
  }
  .text-overlay{
    font-size: 16px;
  }
  .text-date-props{
    font-size: 12px;
  }
  .wrapper-data-2-lines-rect{
    font-size: 16px;
  }
  .wrapper-data-2-lines{
    font-size: 14px;
  }
  .canvas-container-general{
    min-width: 320px;
  }
  .logo-club-wrapper-scale{
    transform: scale(0.85);
  }
  .logo-club-wrapper{
    bottom: -10px;
    right: 2px;
  }
  .logo-club-wrapper-rect{
    bottom: -2px;
    right: 14px;
    transform: unset !important;
  }
  .logo-club-wrapper-mode-3{
    top: 5%;
    left: 2%;
  }
  .logo-club-wrapper-mode-3-rect{
    top: 17%;
    left: 2%;
  }
  .logo-club-wrapper-mode-3-vertical{
    bottom: 0%;
    left: 0%;
  }
  .logo-club-wrapper-mode-3-vertical-rect{
    bottom: 0%;
    left: 0%;
  }
  .logo-club-wrapper-mode-5-down{
    top: 1vw;
    right: 0.5vw;
  }
  .logo-club-wrapper-mode-5-down-rect{
    top: 4vw;
    right: 1.5vw;
  }
  .logo-club-svg{
    width: 60px !important;
    height: 48px !important;
  }
  .wrapper-data-element{
    margin: 2px 18px;
  }
  .wrapper-data-element-rect{
    margin: 4px 20px;
  }
  .wrapper-data-element-mode-6{
    margin: 4px 20px;
  }
  .data-p-little{
    font-size: 8px;
  }
  .width-wrapper-main{
    width: 740px;
    margin: 10px 0px 40px;
    flex-direction: row;
    align-items: flex-start;
  }
  .display-buttons{
    display: flex;
    flex-direction: column;
    margin: 0 10px;
    width: 100%;
  }
  .width-mode{
    width: 400px;
  }
  .wrapper-buttons-left{
    font-size: 16px;
  }
  .width-mode-sub{
    width: 350px;
    margin: 8px 20px
  }
  .blend-text{
    font-size: calc(1vw);
  }
  .text-overlay-mode-3{
    border-right: calc(1vw) solid;
    font-size: calc(2vw);
  }
  .text-overlay-mode-3-vertical{
    border-left: calc(2vw) solid;
  }
  .text-overlay-mode-3-dimention{
    font-size: calc(2vw);
  }
  .text-overlay-mode-3-dimention-rect{
    font-size: calc(4vw);
  }
  .wrapper-element-mode-5{
    top: 4px;
    left: 4px;
    width: 272px;
    font-size: 12px;
  }
  .width-left-mode-5{
    width: 280px;
    left: 20px;
  }
  .position-mode-5-up-rect{
    top: 116px;
  }
  .position-mode-5-down-rect{
    top: 460px;
  }
  .position-mode-5-up{
    top: 56px;
  }
  .position-mode-5-down{
    top: 256px;
  }
  .text-title-props-mode-5{
    left: 6px;
    width: 276px !important;
  }
  .text-title-props-mode-5-up-rect{
    bottom: -80px;
  }
  .text-title-props-mode-5-down-rect{
    bottom: -424px;
  }
  .text-title-props-mode-5-up{
    bottom: -22px;
  }
  .text-title-props-mode-5-down{
    bottom: -220px;
  }
  .text-overlay-mode-5{
    border-top: 1.2px solid;
  }
  .language-selector-alone{
    right: 3%;
  }
  .arrow-down-language-selector{
    transform: scale(0.6)
  }
  .modal-dimention-positioning{
    min-height: 10%;
  }
  .modal-close-wrapper{
    top: 8px;
    right: 8px;
    width: 23px;
    height: 23px;
  }
  .modal-close-icon{
    width: 20px;
    height: 20px;
  }
  .modal-text{
    margin: 7% 5%;
    width: 90%;
  }
  .modal-buttons-single{
    margin: 10px 10px;
    padding: 5px 15px;
  }
  .modal-buttons-p{
    font-size: 18px;
  }
}
@media print, screen and (min-width: 1100px) {
  .beauty-border{
    width: 400px;
  }
  .width-header-wrapper{
    width: 920px;
  }
  .canvas-container-square{
    min-height: 400px;
  }
  .text-overlay{
    font-size: 20px;
  }
  .text-date-props{
    font-size: 15px;
  }
  .wrapper-data-2-lines-rect{
    font-size: 20px;
  }
  .wrapper-data-2-lines{
    font-size: 17.5px;
  }
  .canvas-container-general{
    min-width: 400px;
  }
  .logo-club-wrapper{
    bottom: -10px;
    right: 2px;
  }
  .logo-club-wrapper-rect{
    bottom: -2px;
    right: 14px;
  }
  .logo-club-wrapper-mode-3{
    top: 5%;
    left: 2%;
  }
  .logo-club-wrapper-mode-3-rect{
    top: 15.5%;
    left: 2%;
  }
  .logo-club-wrapper-mode-3-vertical{
    bottom: -2%;
    left: 0%;
  }
  .logo-club-wrapper-mode-3-vertical-rect{
    bottom: -2%;
    left: 0%;
  }
  .logo-club-wrapper-mode-5-down{
    top: 15px;
    right: 5px;
  }
  .logo-club-wrapper-mode-5-down-rect{
    top: 50px;
    right: 15px;
  }
  .logo-club-svg{
    width: 75px !important;
    height: 60px !important;
  }
  .wrapper-data-element{
    margin: 2.5px 22.5px;
  }
  .wrapper-data-element-rect{
    margin: 5px 25px;
  }
  .wrapper-data-element-mode-6{
    margin: 5px 5px;
  }
  .data-p-little{
    font-size: 10px;
  }
  .width-wrapper-main{
    width: 920px;
    margin: 10px 0px 40px;
    flex-direction: row;
    align-items: flex-start;
  }
  .width-mode{
    width: 500px;
  }
  .width-mode-sub{
    width: 450px;
    margin: 8px 20px
  }
  .blend-text{
    font-size: 16px;
  }
  .text-overlay-mode-3{
    border-right: 16px solid;
  }
  .text-overlay-mode-3-vertical{
    border-left: 16px solid;
    font-size: 32px;
  }
  .text-overlay-mode-3-dimention{
    font-size: 16px;
  }
  .text-overlay-mode-3-dimention-rect{
    font-size: 32px;
  }
  .wrapper-element-mode-5{
    top: 5px;
    left: 5px;
    width: 340px;
    font-size: 15px;
  }
  .width-left-mode-5{
    width: 350px;
    left: 25px;
  }
  .position-mode-5-up-rect{
    top: 145px;
  }
  .position-mode-5-down-rect{
    top: 575px;
  }
  .position-mode-5-up{
    top: 70px;
  }
  .position-mode-5-down{
    top: 320px;
  }
  .text-title-props-mode-5{
    left: 7.5px;
    width: 345px !important;
  }
  .text-title-props-mode-5-up-rect{
    bottom: -100px;
  }
  .text-title-props-mode-5-down-rect{
    bottom: -530px;
  }
  .text-title-props-mode-5-up{
    bottom: -27.5px;
  }
  .text-title-props-mode-5-down{
    bottom: -275px;
  }
  .text-overlay-mode-5{
    border-top: 1.5px solid;
  }
}
@media print, screen and (min-width: 1250px) {
  .arrow-down{
    align-content: center;
  }
}
.no-see{
  display: none;
}
.see-selected-image{
  display: block;
}
@media print, screen and (min-width: 1200px) {
  .position-0{
    position: absolute;
    top: 0.5;
  }
}
.no-see-selected-image{
  display: none;
}
.see-selected{
  display: block;
}
.no-see-selected{
  display: none;
}
.App-body-statistics{
  display: flex;
  align-items: unset;
  justify-content: flex-start;
}
.center-logo-homepage{
  display: flex;
  justify-content: center;
  max-height: 250px;
  height: 20vmin;
}