:root{
  --palette-purple: #9b5de5;
  --palette-pink: #f15bb5;
  --palette-yellow: #fee440;
  --palette-lightblue: #00bbf9;
  --palette-watergreen: #00f5d4;
  --palette-background: #282c34;
  --palette-background-complementary: #343028;
  --palette-white: #edf6f9;
}

@font-face {
  font-family: 'SourceCodePro';
  src: local('SourceCodePro'),
   url('./fonts/SourceCodePro/SourceCodePro-VariableFont_wght.ttf') format('truetype');
  font-weight: bold;
}
p {
  margin-block-start: 0px; 
  margin-block-end: 0px;
}

.code-inactive {
  background: var(--palette-pink); 
  color: var(--palette-background);
}

.App {
  background-color: var(--palette-background);
  font-size: calc(4vmin);
  text-align: center;
  font-family: 'SourceCodePro';
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  padding: 2vh;
  min-height: 96vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--palette-white);
}

.App-link {
  color: var(--palette-watergreen);
}
.back-button{
  display: flex;
  flex-direction: row;
  align-items: center;
  transform: translateX(-20px);
}
.back-button:hover{
  cursor: pointer;
}
.back-image{
  margin: 0 10px;
  fill: var(--palette-pink);
  transform: rotate(90deg) scale(0.6);
}
.p-back{
  color: var(--palette-pink);
  justify-content: left;
  font-size: 24px;
}
.wrapper-image{
  text-align: center;
}
.slider-width{
  position: relative;
  left: 50%;
  translate: -50%;
  width: 260px;
  /* margin: 0 12.5vw; */
}
.margin-or{
  margin: 20px;
}
.margin-title{
  margin: 30px;
}
.margin-x{
  margin: 20px;
}
.button-login {
  padding: 1vw;
  background-color: var(--palette-pink);
  border-radius: 5px;
}
.button-login:hover {
  cursor: pointer
}
.justify-center-column{
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.translate-y{
  transform: translateY(-5vh);
}
.p-login{
  padding: 1vh 3vw 1vh 3vw;
  color: var(--palette-background);
}
.p-or{
  color: var(--palette-pink);
}
.p-login-or-size{
  font-family: 'SourceCodePro';
  font-size: calc(4vmin);
}
.button-activity {
  text-align: left;
  width: 90vmin;
  min-height: 6.5vh;
  margin: 1.5vw;
  background-color: var(--palette-yellow);
  border-radius: 5px;
}
.button-activity:hover{
  cursor: pointer;
}
.title-activity {
  padding: 1vh 3vw 0.25vh 3vw;
  font-family: 'SourceCodePro';
  font-size: calc(3.5vmin);
  font-weight: bold;
  color: var(--palette-background);
}
.subtitle-activity {
  padding: 0vh 3vw 1vh 3vw;
  font-family: 'SourceCodePro';
  font-size: calc(2.5vmin);
  color: var(--palette-background);
}
.wrapper-buttons{
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.wrapper-sub-buttons{
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.wrapper-images{
  width: 80%;
  flex-wrap: wrap;
  margin: 0 10%;
}
.wrapper-buttons-left{
  font-size: calc(3vmin);
  height: 30px;
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  text-align: left;
}
.back{
  color: var(--palette-background);
  background: var(--palette-lightblue);
}
.back:hover{
  cursor: pointer;
  color: var(--palette-background);
  background: var(--palette-pink);
}
.colors-background{
  position: relative;
  background-color: var(--palette-white);
  border-radius: 25px;
  width: 280px;
  margin: 10px 0px;
  left: 50%;
  translate: -50%;
}

.camouflage{
  color: var(--palette-background);
}
.width-wrapper-main{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80vw;
  margin: 1vh 0vh 5vh
}
.canvas-image{
  width: 80vw;
  position: absolute;
  top: 0;
  left: 0;
}
.canvas-container-general{
  background-color: var(--palette-background-complementary);
  position: relative;
  min-width: 80vw;
}
.canvas-container-square {
  min-height: 80vw;
}
.canvas-container-rect {
  aspect-ratio: 9/16;
}
.canvas-container canvas {
  display: block;
  height: auto;
}
.canvas-position{
  position: absolute;
  top: 0;
  left: 0;
}
.canvas-filter{
  width: 80vw;
}
.canvas-sketch{
  width: 57.5%;
  height: 57.5% !important;
  top: 21.25%;
  left: 21.25%;
}
.canvas-sketch-rect{
  width: 85%;
  top: 24%;
  left: 7.5%;
}
.canvas-sketch-mode3{
  width: 100%;
  height: 100% !important;
  bottom: 0 !important;
  top: unset !important;
  left: 0;
}
.canvas-sketch-mode3-rect{
  width: 100%;
  height: 100% !important;
  bottom: 0 !important;
  top: unset !important;
  left: 0;
}
#canvasImage {
  z-index: 1;
}
#canvasFilter {
  z-index: 2;
}
#canvasSketch {
  z-index: 3;
}
#canvasText {
  z-index: 4;
}
#canvasLogo {
  z-index: 4;
}
#loader {
  z-index: 5;
}
.background-loading{
  background-color: var(--palette-background);
  position: absolute;
  /* top: 0;
  left: 0; */
  aspect-ratio: 9/16;
  width: 325px;
}
.translate-loading{
  transform: translate(165px, 260px);
}
.text-overlay {
  position: absolute;
  font-family: 'Helvetica';
  text-align: left;
  font-size: calc(4vmin);
  font-weight: bold;
  color: white;
}
.text-title{
  width: 72vw;
  top: 8vw;
  left: 4vw;
  display: flex;
  flex-direction: row;
}
.text-title-props:first-child{
  bottom:-4vw
}
.text-title-props:last-child{
  top:4.5vw
}
.text-name-props{
  font-weight: 900;
}
.text-date-props{
  font-size: calc(3vmin);
  font-weight: 100;
}
.text-coordinates-props{
  font-size: calc(4vmin);
  width: 100%;
  top:88%;
  left:50%;
  text-align: center;
  transform: translate(-50%,0)
}
.text-title-props-rect:first-child{
  bottom:-16vw
}
.text-title-props-rect:last-child{
  top:16.5vw
}
.text-coordinates-props-rect{
  top:84%;
}
.padding-horizontal{
  padding-bottom: 1rem;
  padding-top: 3rem;
}
.colors{
  margin: 4px;
}
.image-props{
  margin: 5px;
  border-radius: 5px;
  width: 50px;
  height: 50px;
}
.image-container {
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
}

.image-square {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 5px;
  background-color: var(--palette-yellow); 
}
.image-square:hover{
  cursor: pointer
}

.image-square p {
  font-size: calc(4vmin);
  color: var(--palette-background);
}
.dot-typing {
    position: relative;
    left: -9999px;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: var(--palette-pink);
    color: var(--palette-pink);
    box-shadow: 9984px 0 0 0 var(--palette-pink), 9999px 0 0 0 var(--palette-pink), 10014px 0 0 0 var(--palette-pink);
    animation: dot-typing 1.5s infinite linear;
}
  
@keyframes dot-typing {
    0% {
      box-shadow: 9984px 0 0 0 var(--palette-pink), 9999px 0 0 0 var(--palette-pink), 10014px 0 0 0 var(--palette-pink);
    }
    16.667% {
      box-shadow: 9984px -10px 0 0 var(--palette-pink), 9999px 0 0 0 var(--palette-pink), 10014px 0 0 0 var(--palette-pink);
    }
    33.333% {
      box-shadow: 9984px 0 0 0 var(--palette-pink), 9999px -10px 0 0 var(--palette-pink), 10014px 0 0 0 var(--palette-pink);
    }
    50% {
      box-shadow: 9984px 0 0 0 var(--palette-pink), 9999px 0 0 0 var(--palette-pink), 10014px -10px 0 0 var(--palette-pink);
    }
    66.667% {
      box-shadow: 9984px 0 0 0 var(--palette-pink), 9999px 0 0 0 var(--palette-pink), 10014px 0 0 0 var(--palette-pink);
    }
    83.333% {
      box-shadow: 9984px 0 0 0 var(--palette-pink), 9999px 0 0 0 var(--palette-pink), 10014px 0 0 0 var(--palette-pink);
    }
    100% {
      box-shadow: 9984px 0 0 0 var(--palette-pink), 9999px 0 0 0 var(--palette-pink), 10014px 0 0 0 var(--palette-pink);
    }
}
.logo-club-wrapper{
  position: absolute;
  bottom: 0;
  right: 3%;
  z-index: 4;
}
.logo-club-wrapper-rect{
  position: absolute;
  bottom: 0;
  right: 3%;
  z-index: 4;
}
.logo-club-wrapper-mode-3{
  position: absolute;
  top: 6%;
  left: 3%;
}
.logo-club-wrapper-mode-3-rect{
  position: absolute;
  top: 16%;
  left: 3%;
}
.logo-club-wrapper-mode-4{
  position: absolute;
  bottom: 1%;
  left: 3%;
}
.logo-club-wrapper-mode-4-rect{
  position: absolute;
  bottom: 1%;
  left: 3%;
}
.logo-club-svg{
  width: 15vw;
  height: 12vw
}
.indexed-height{
  z-index: 100;
}
.beauty-border{
  border-radius: 5px;
}
.wrapper-data-2-lines-rect{
  position: absolute;
  display: flex;
  flex-direction: column;
  min-width: 80vw;
  font-size: calc(4vmin);
  font-weight: 900;
  font-family: 'Helvetica';
  bottom: 15vw
}
.wrapper-data-2-lines{
  position: absolute;
  display: flex;
  flex-direction: column;
  min-width: 80vw;
  font-size: calc(3.5vmin);
  font-weight: 900;
  font-family: 'Helvetica';
  top: 64vw
}
.wrapper-data-line{
  display: flex;
  justify-content: center;
  width: 100%;
}
.wrapper-data-element{
  margin: 0.5vw 4.5vw;
}
.wrapper-data-element-rect{
  margin: 1vw 5vw;
}
.data-p-little{
  font-weight: 100;
  font-size: calc(2vmin);
}
.display-center{
  display: flex;
}
.element-mode-3{
 padding: 2%;
 margin: 3%;
}
.text-overlay-mode-3-dimention{
  font-size: calc(4vmin);
}
.text-overlay-mode-3-dimention-rect{
  font-size: calc(8vmin);
}
.text-overlay-mode-3{
  border-right: calc(2vmin) solid;
  position: absolute;
  font-family: 'Helvetica';
  text-align: right;
  color: transparent;
  font-weight: bold;
}
.mode-3-text{
  right: 0;
  top: 5%;
  width: 45%;
}
.mode-3-text-rect{
  right: 0;
  top: 15%;
  width: 50%;
}
.element-mode-4{
  padding: 2%;
  margin: 3%;
}
.text-overlay-mode-4{
  border-left: calc(2vmin) solid;
  position: absolute;
  font-family: 'Helvetica';
  text-align: left;
  font-size: calc(8vmin);
  color: transparent;
  font-weight: bold;
}
.mode-4-text{
  left: 0;
  top: 5%;
  width: 45%;
}
.mode-4-text-rect{
  left: 0;
  top: 15%;
  width: 50%;
}
.round-corner{
  border-radius: 5px;
}
.width-mode{
  width: 80vw;
}
.width-mode-sub{
  width:75vw;
  margin: 1vw 2.5vw;
}
.arrow-down{
  padding: 8px;
  background-color: var(--palette-pink);
  width: 45px;
  height: 45px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  transform: scale(0.8);
  border-radius: 5px;
}
.arrow-down:hover{
  cursor: pointer;
}
.p-select{
  font-size: calc(5vw);
  color: var(--palette-pink);
  font-family: 'SourceCodePro';
}
.blend-text{
  color: var(--palette-pink)
}
.blend-mode:hover{
  cursor: pointer;
}
.width-general{
  width: 80vw;
}
@media print, screen and (min-width: 450px) {
  .back-button{
    transform: translateX(30px);
  }
  .p-select{
    font-size: calc(3.75vw);
  }
  .image-square p{
    font-size: calc(4vw);
  }
  .button-activity {
    width: 67.6vmin;
    min-height: 4.6875vmin;
    margin: 1.125vw;
  }
  .button-login {
    padding: 0.75vw;
  }
  .p-login{
    padding: 0.75vh 2.25vw 0.75vh 2.25vw;
  }
  .p-login-or-size{
    font-size: calc(3vmin);
  }
  .width-wrapper-main{
    display: flex;
    flex-direction: column;
    width: 80vw;
  }
  .beauty-border{
    width: 60vw;
  }
  .width-general{
    width: 60vw;
  }
  .App-header {
    align-items: center;
  }
  .canvas-container-square{
    min-height: 60vw;
  }
  .blend-text{
    font-size: calc(3vw);
  }
  /* to comment this when solved the fact of an unique dimention*/
  .title-activity {
    padding: 0.75vh 2.25vw 0.1875vh 2.25vw;
    font-size: calc(2.625vmin);
  }
  .subtitle-activity {
    padding: 0vh 2.25vw 0.75vh 2.25vw;
    font-family: 'SourceCodePro';
    font-size: calc(1.875vmin);
  }
  .text-title{
    width: 54vw;
    top: 6vw;
    left: 3vw;
  }
  .text-overlay{
    font-size: calc(3vw);
  }
  .text-date-props{
    font-size: calc(2.25vw);
  }
  .text-title-props-rect:first-child{
    bottom:-12vw
  }
  .text-title-props-rect:last-child{
    top:12.5vw
  }
  .wrapper-data-2-lines-rect{
    font-size: calc(3vw);
    min-width: 60vw;
    bottom: 11.25vw;
  }
  .wrapper-data-2-lines{
    font-size: calc(2.625vw);
    min-width: 60vw;
    top: 48vw;
  }
  .canvas-container-general{
    min-width: 60vw;
  }
  .logo-club-wrapper-mode-3{
    position: absolute;
    top: 4%;
    left: 1%;
    transform: scale(0.75);
  }
  .logo-club-wrapper-mode-3-rect{
    position: absolute;
    top: 16%;
    left: 0%;
    transform: scale(0.75);
  }
  .logo-club-wrapper-mode-4{
    position: absolute;
    bottom: -1%;
    left: 1%;
    transform: scale(0.75);
  }
  .logo-club-wrapper-mode-4-rect{
    position: absolute;
    bottom: -1%;
    left: 1%;
    transform: scale(0.75);
  }
  .logo-club-wrapper{
    bottom: 0.75vw;
    right: 1.5vw;
    transform: scale(0.75);
  }
  .logo-club-wrapper-rect{
    bottom: 0.75vw;
    right: 1.5vw;
    transform: scale(0.75);
  }
  .wrapper-data-element{
    margin: 0.5vw 3.375vw;
  }
  .wrapper-data-element-rect{
    margin: 0.75vw 3.75vw;
  }
  .data-p-little{
    font-size: calc(1.5vw);
  }
  .text-overlay-mode-3{
    border-right: calc(1.5vw) solid;
  }
  .text-overlay-mode-4{
    border-left: calc(1.5vw) solid;
    font-size: calc(6vw);
  }
  .text-overlay-mode-3-dimention{
    font-size: calc(3vw);
  }
  .text-overlay-mode-3-dimention-rect{
    font-size: calc(6vw);
  }
}
@media print, screen and (min-width: 525px) {
  .back-button{
    transform: translateX(40px);
  }
}
@media print, screen and (min-width: 600px) {
  .back-button{
    transform: translateX(110px);
    width: 120px
  }
  .p-select{
    font-size: calc(2.5vw);
  }
  .image-square p{
    font-size: calc(4vw);
  }
  .button-activity {
    width: 45vmin;
    min-height: 3.25vmin;
    margin: 0.75vw;
  }
  .button-login {
    padding: 0.5vw;
  }
  .p-login{
    padding: 0.5vh 1.5vw 0.5vh 1.5vw;
  }
  .p-login-or-size{
    font-size: (2vmin);
  }
  .width-wrapper-main{
    display: flex;
    flex-direction: column;
    width: 80vw;
  }
  .beauty-border{
    width: 40vw;
  }
  .width-general{
    width: 40vw;
  }
  .App-header {
    align-items: center;
  }
  .canvas-container-square{
    min-height: 40vw;
  }
  .blend-text{
    font-size: calc(2vw);
  }
  /* to comment this when solved the fact of an unique dimention*/
  .title-activity {
    padding: 0.5vh 1.5vw 0.125vh 1.5vw;
    font-size: calc(1.75vmin);
  }
  .subtitle-activity {
    padding: 0vh 1.5vw 0.5vh 1.5vw;
    font-size: calc(1.25vmin);
  }
  .text-title{
    width: 36vw;
    top: 4vw;
    left: 2vw;
  }
  .text-overlay{
    font-size: calc(2vw);
  }
  .text-date-props{
    font-size: calc(1.5vw);
  }
  .text-title-props:first-child{
    bottom: -1vw
  }
  .text-title-props:last-child{
    top:1.2vw
  }
  .text-title-props-rect:first-child{
    bottom:-8vw
  }
  .text-title-props-rect:last-child{
    top:8.5vw
  }
  .wrapper-data-2-lines-rect{
    font-size: calc(2vw);
    min-width: 40vw;
    bottom: 7.5vw;
  }
  .wrapper-data-2-lines{
    font-size: calc(1.75vw);
    min-width: 40vw;
    top: 32vw;
  }
  .canvas-container-general{
    min-width: 40vw;
  }
  .logo-club-wrapper-mode-3{
    position: absolute;
    top: 2%;
    left: -2%;
    transform: scale(0.6);
  }
  .logo-club-wrapper-mode-3-rect{
    position: absolute;
    top: 13%;
    left: -5%;
    transform: scale(0.5);
  }
  .logo-club-wrapper-mode-4{
    position: absolute;
    bottom: -4%;
    left: -2%;
    transform: scale(0.6);
  }
  .logo-club-wrapper-mode-4-rect{
    position: absolute;
    bottom: -4%;
    left: -2%;
    transform: scale(0.6);
  }
  .logo-club-wrapper{
    bottom: -2vw;
    right: -1vw;
    transform: scale(0.57);
  }
  .logo-club-wrapper-rect{
    bottom: -3vw;
    right: -2vw;
    transform: scale(0.5);
  }
  .wrapper-data-element{
    margin: 0.25vw 2.25vw;
  }
  .wrapper-data-element-rect{
    margin: 0.5vw 2.5vw;
  }
  .data-p-little{
    font-size: calc(1vw);
  }
  .text-overlay-mode-3{
    border-right: calc(1vw) solid;
  }
  .text-overlay-mode-4{
    border-left: calc(1vw) solid;
    font-size: calc(4vw);
  }
  .text-overlay-mode-3-dimention{
    font-size: calc(2vw);
  }
  .text-overlay-mode-3-dimention-rect{
    font-size: calc(4vw);
  }
}
@media print, screen and (min-width: 650px) {
  .back-button{
    transform: translateX(120px);
  }
}
@media print, screen and (min-width: 700px) {
  .back-button{
    transform: translateX(130px);
  }
}
@media print, screen and (min-width: 750px) {
  .back-button{
    transform: translateX(140px);
  }
}
@media print, screen and (min-width: 800px) {
  .back-button{
    transform: translateX(-20px);
  }
  .p-select{
    font-size: 40px;
  }
  .image-square p{
    font-size: 32px;
  }
  .title-activity {
    padding: 8px 24px 2px 24px;
    font-size: 16px;
  }
  .subtitle-activity {
    padding: 0px 24px 8px 24px;
    font-family: 'SourceCodePro';
    font-size: 12px;
  }
  .button-activity {
    text-align: left;
    width: 500px;
    min-height: 52px;
    margin: 12px;
  }
  .button-login {
    padding: 8px;
  }
  .p-login{
    padding: 8px 32px 8px 32px;
  }
  .p-login-or-size{
    font-size: 32px;
  }
  .beauty-border{
    width: 320px;
  }
  .width-general{
    width: 320px;
  }
  .App-header {
    align-items: center;
  }
  .canvas-container-square{
    min-height: 320px;
  }
  .text-title{
    width: 288px;
    top: 32px;
    left: 16px;
  }
  .text-overlay{
    font-size: 16px;
  }
  .text-date-props{
    font-size: 12px;
  }
  .text-title-props-rect:first-child{
    bottom:-64px
  }
  .text-title-props-rect:last-child{
    top:68px
  }
  .wrapper-data-2-lines-rect{
    font-size: 16px;
    min-width: 320px;
    bottom: 60px;
  }
  .wrapper-data-2-lines{
    font-size: 14px;
    min-width: 320px;
    top: 256px;
  }
  .canvas-container-general{
    min-width: 320px;
  }
  .logo-club-wrapper-mode-3{
    position: absolute;
    top: 5%;
    left: 2%;
    transform: scale(0.85);
  }
  .logo-club-wrapper-mode-3-rect{
    position: absolute;
    top: 17%;
    left: 2%;
    transform: scale(0.85);
  }
  .logo-club-wrapper-mode-4{
    position: absolute;
    bottom: -2%;
    left: 0%;
    transform: scale(0.85);
  }
  .logo-club-wrapper-mode-4-rect{
    position: absolute;
    bottom: -2%;
    left: 0%;
    transform: scale(0.85);
  }
  .logo-club-wrapper{
    bottom: -10px;
    right: 2px;
    transform: scale(0.85);
  }
  .logo-club-wrapper-rect{
    bottom: -2px;
    right: 14px;
    transform: unset;
  }
  .logo-club-svg{
    width: 60px !important;
    height: 48px !important;
  }
  .wrapper-data-element{
    margin: 2px 18px;
  }
  .wrapper-data-element-rect{
    margin: 4px 20px;
  }
  .data-p-little{
    font-size: 8px;
  }
  .width-wrapper-main{
    width: 740px;
    margin: 10px 0px 40px;
    flex-direction: row;
    align-items: flex-start;
  }
  .display-buttons{
    display: flex;
    flex-direction: column;
    /* align-items: flex-start; */
    margin: 0 10px;
    width: 100%;
  }
  .width-mode{
    width: 400px;
  }
  .wrapper-buttons-left{
    font-size: 16px;
  }
  .width-mode-sub{
    width: 350px;
    margin: 8px 20px
  }
  .blend-text{
    font-size: calc(1vw);
  }
  .text-overlay-mode-3{
    border-right: calc(1vw) solid;
    font-size: calc(2vw);
  }
  .text-overlay-mode-4{
    border-left: calc(2vw) solid;
  }
  .text-overlay-mode-3-dimention{
    font-size: calc(2vw);
  }
  .text-overlay-mode-3-dimention-rect{
    font-size: calc(4vw);
  }
}
@media print, screen and (min-width: 1100px) {
  .beauty-border{
    width: 400px;
  }
  .width-general{
    width: 400px;
  }
  .App-header {
    align-items: center;
  }
  .canvas-container-square{
    min-height: 400px;
  }
  .text-title{
    width: 360px;
    top: 40px;
    left: 20px;
  }
  .text-overlay{
    font-size: 20px;
  }
  .text-date-props{
    font-size: 15px;
  }
  .text-title-props-rect:first-child{
    bottom:-80px
  }
  .text-title-props-rect:last-child{
    top:85px
  }
  .wrapper-data-2-lines-rect{
    font-size: 20px;
    min-width: 400px;
    bottom: 75px;
  }
  .wrapper-data-2-lines{
    font-size: 17.5px;
    min-width: 400px;
    top: 320px;
  }
  .canvas-container-general{
    min-width: 400px;
  }
  .logo-club-wrapper-mode-3{
    position: absolute;
    top: 5%;
    left: 2%;
    transform: scale(0.85);
  }
  .logo-club-wrapper-mode-3-rect{
    position: absolute;
    top: 15.5%;
    left: 2%;
    transform: scale(0.85);
  }
  .logo-club-wrapper-mode-4{
    position: absolute;
    bottom: -2%;
    left: 0%;
    transform: scale(0.85);
  }
  .logo-club-wrapper-mode-4-rect{
    position: absolute;
    bottom: -2%;
    left: 0%;
    transform: scale(0.85);
  }
  .logo-club-wrapper{
    bottom: -10px;
    right: 2px;
    transform: scale(0.85);
  }
  .logo-club-wrapper-rect{
    bottom: -2px;
    right: 14px;
    transform: unset;
  }
  .logo-club-svg{
    width: 75px !important;
    height: 60px !important;
  }
  .wrapper-data-element{
    margin: 2.5px 22.5px;
  }
  .wrapper-data-element-rect{
    margin: 5px 25px;
  }
  .data-p-little{
    font-size: 10px;
  }
  .width-wrapper-main{
    width: 920px;
    margin: 10px 0px 40px;
    flex-direction: row;
    align-items: flex-start;
  }
  .width-mode{
    width: 500px;
  }
  .width-mode-sub{
    width: 450px;
    margin: 8px 20px
  }
  .blend-text{
    font-size: 16px;
  }
  .text-overlay-mode-3{
    border-right: 16px solid;
  }
  .text-overlay-mode-4{
    border-left: 16px solid;
    font-size: 32px;
  }
  .text-overlay-mode-3-dimention{
    font-size: 16px;
  }
  .text-overlay-mode-3-dimention-rect{
    font-size: 32px;
  }
}
@media print, screen and (min-width: 1250px) {
  .arrow-down{
    align-content: center;
  }
}
.no-see{
  display: none;
}